.aBrandOpenBtn.active i,
.aBrandOpenBtn.active span {
  color: var(--orange);
}

.brand__title {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 2px solid var(--x1grey);
  align-items: center;
}

.brand__logo {
  width: 20%;
}

.brand__logo img {
  display: block;
  width: 100%;
}

.brand__logo span {
  font-size: 20px;
  font-weight: 600;
}

.brand__intro {
  width: 80%;
  padding: 0 0 0 20px;
}

/* aBrands */

.aBrands__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 505;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.aBrands__area {
  position: fixed;
  width: 100%;
  max-width: 1080px;
  height: 70vh;
  transform: translate3d(-50%, -50%, 0);
  left: 50%;
  top: 50%;
  background: #fff;
  z-index: 506;
  display: none;
  border-radius: 15px;
  /* padding: 10px; */
}

.aBrands__outer {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.aBrands__fakeHeader {
  padding: 5px 10px 10px;
  background: var(--orange);
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
}

.aBrands__title {
  width: 100%;
  font-weight: 600;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.aBrands__close i {
  font-size: 1rem;
  color: #000;
}

.aBrands {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 -10px; */
  overflow-y: scroll;
}

.aBrands__itemOuter {
  width: 10%;
  padding: 10px;
  border-bottom: 1px solid var(--x1greySuperLight);
}

.aBrands__item {
  text-decoration: none;
  display: block;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 10vh;
}

.aBrands__item img {
  display: none;
}
