.m2_headerFake {
  width: 100%;
}

.m2_header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 8888;
  background: #fff;
  width: 100%;
}

.m2_search__area {
  width: 100%;
  display: none;
}

.m2_search__outer {
  padding: 20px 10px 10px;
}

.m2_search {
  display: flex;
  align-items: center;
  border: 1px solid var(--colorGrey);
  background: var(--colorLightGrey);
  outline: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}

.m2_search__input {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  padding: 0 0.625rem;
  font-size: 1rem;
  color: var(--color2);
  /* height: 2.875rem; */
  height: 1.875rem;
  width: 100%;
  background: transparent;
}

.m2_search__btn {
  position: absolute;
  right: 5px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 2.875rem; */
  height: 1.625rem;
  cursor: pointer;
  transition: all 0.3s;
  background: transparent;
}

.m2_search__btn:hover {
  background: var(--redFillhover);
}

.m2_search__btn i {
  font-size: 1rem;
  color: var(--color2);
}

.m2_topMenu__area {
  width: 100%;
  display: none;
}

.m2_topMenu__outer {
  padding: 0 10px 10px;
}

.m2_topMenu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.m2_topMenu li {
  list-style: none;
  padding: 5px;
}

.m2_topMenu li a {
  display: flex;
  font-size: 1.25rem;
  color: var(--tColor);
  position: relative;
  padding: 10px 20px;
  background: var(--colorLightGrey);
  border-radius: 7px;
}

.m2_topMenu li.active a {
  color: var(--tColor);
  background: var(--colorGrey);
}

.m2_catMenu__area {
  width: 100%;
  display: none;
}

.m2_catMenu__outer {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 20px 10px;
}

.m2_catMenu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.m2_catMenuItem__outer {
  width: 50%;
  padding: 5px;
}

.m2_catMenuItem {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid var(--colorGrey);
  border-radius: 5px;
  overflow: hidden;
}

.m2_catMenuItemImg {
  width: 30%;
}

.m2_catMenuItemImg img {
  display: block;
  width: 100%;
}

.m2_catMenuItemInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  font-size: 1.25rem;
  color: #000;
}

.m2_bottomMenu__areaFake {
  width: 100%;
  height: 100px;
}

.m2_bottomMenu__area {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 8888;
  display: none;
  border-top: 1px solid var(--colorLightGrey);
}

.m2_bottomMenu__outer {
  width: 100%;
  background: #fff;
  padding: 20px 40px;
}

.m2_bottomMenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.m2_bottomMenu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  text-decoration: none;
  position: relative;
}

.m2_bottomMenu__item i {
  font-size: 2rem;
  color: var(--x1greyDark);
  margin-bottom: 10px;
}

.m2_bottomMenu__item span {
  font-size: 1rem;
  color: var(--x1greyDark);
  text-align: center;
}

.m2_bottomMenu__item span.cartCounter {
  position: absolute;
  right: 0;
  top: -5px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: red;
  color: #fff;
}

.m2_category__area {
  width: 100%;
  display: none;
}

.m2_category__outer {
  padding: 0 10px;
}

.m2_category__allBtn {
  display: block;
  width: 100%;
  padding: 10px 5px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

.m2_category {
  display: flex;
  flex-wrap: wrap;
  padding: 0 -5px;
}

.m2_category__itemOuter {
  padding: 5px;
  width: 100%;
}

.m2_category__item {
  display: flex;
  width: 100%;
  text-decoration: none;
}

.m2_category__itemImg {
  width: 20%;
  max-width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.m2_category__itemImg img {
  display: block;
  width: 100%;
}

.m2_category__itemInfo {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding-left: 20px;
  color: #000;
}

.m2_innerCategory__area {
  width: 100%;
  padding: 5px;
  display: none;
}

.m2_innerCategory__outer {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.m2_innerCategory {
  display: flex;
  align-items: center;
}

.m2_innerCategory__itemOuter {
  padding: 5px;
}

.m2_innerCategory__item {
  display: block;
  padding: 5px 10px;
  background: var(--x1greySuperLight);
  text-decoration: none;
  color: #000;
  border-radius: 5px;
  white-space: nowrap;
}

.m2_catalogArea {
  display: none;
  padding: 0 10px;
}
