mixin arHeader
  header.arHeader.d-flex.flex-column.flex-md-row.align-items-center.justify-content-md-between.p-2.p-md-3.shadow-sm
    .container-xxl
      .logo2
        a(href='#')
          img(src='assets/img/logotry2.svg', alt='Торговый комплекс МИР')
      .arHeader__btns
        .arHeader__item.ml-4.logout
          a(href="")
            i.icon-avatar1
            span Войти
        .arHeader__item.ml-4.login
          a(href="")
            i.icon-avatar1
            span Выйти

    
      

