mixin arHeader
  .container-fluid.shadow-sm
    header.container-xxl.arHeader.flex-md-row.justify-content-md-between.p-2.p-md-3
      .logo2
        a(href='#')
          img(src='assets/img/logotry2.svg', alt='Торговый комплекс МИР')
      .arHeader__btns.pt-3.pt-md-0
        .arHeader__item.ml-4.logout.d-none
          a(href="")
            i.icon-avatar1
            span Войти
        .arHeader__item.ml-4.login
          a(href="")
            i.icon-avatar1
            span Выйти

    
      

