mixin breadcrumbs
  .breadcrumbs__area.w0
    .breadcrumbs.w1
      div
        a(href='#') Главная 
      |           /
      div
        a(href='#') Категория 
      |           /
      div
        span Текущий пункт

mixin fake-breadcrumbs
  .breadcrumbs__area.bgE5E5E5.w0
    .breadcrumbs.w1
      .fakeBreadcrumbs
        .backBtn
          i.icon-arr-left1
          span Назад
        a.shopInBreadcrumbsTitle(href="") Monte Napoleone