mixin brands2slider
  .swiper-container.brands2slider-container
    .swiper-wrapper.brands2slider-wrapper
      .swiper-slide.brands2slider-slide
        a.videoLink_dt(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (образы, Катя, студия).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу</a>')
          img(src='assets/img/index2/poster3.jpg', alt='')
        a.videoLink_mb(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (комбинезон).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу с мобилы</a>')
          img(src='assets/img/index2/poster3.jpg', alt='')
      .swiper-slide.brands2slider-slide
        a.videoLink_dt(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (образы, Катя, студия).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу</a>')
          img(src='assets/img/index2/poster3.jpg', alt='')
        a.videoLink_mb(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (комбинезон).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу с мобилы</a>')
          img(src='assets/img/index2/poster3.jpg', alt='')
      .swiper-slide.brands2slider-slide
        a.videoLink_dt(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (образы, Катя, студия).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу</a>')
          img(src='assets/img/index2/poster3.jpg', alt='')
        a.videoLink_mb(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (комбинезон).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу с мобилы</a>')
          img(src='assets/img/index2/poster3.jpg', alt='')
      .swiper-slide.brands2slider-slide
        a.videoLink_dt(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (образы, Катя, студия).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу</a>')
          img(src='assets/img/index2/poster3.jpg', alt='')
        a.videoLink_mb(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (комбинезон).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу с мобилы</a>')
          img(src='assets/img/index2/poster3.jpg', alt='')

  .brands2slider__left
    i.icon-arr-left1
  .brands2slider__right
    i.icon-arr-right1

                