mixin breadcrumbs
  .breadcrumbs__area.bgE5E5E5.w0
    .breadcrumbs.w1
      div
        a(href='#') Главная 
      |           /
      div
        a(href='#') Категория 
      |           /
      div
        span Текущий пункт