mixin brand
  .brand__area.w0
    .w1
      .brand__title
        .brand__logo
          img(src="assets/img/vendor/birba/birba.svg", alt="")
        .brand__intro
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor quo ratione voluptatibus dicta pariatur possimus eaque illum omnis fugiat rem?

mixin aBrands
  .aBrands__overlay 
  .aBrands__area
    .aBrands__outer
      //- .aBrands__fakeHeader
      //-   .orangeLogo
      //-     a(href="#")
      //-       img(src="assets/img/logo-white.svg", alt='Торговый комплекс МИР')
      .aBrands__title 
        .aBrands__close
          i.icon-close1
      .aBrands
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Birba/birba.svg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Crocs/crocs.jpg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/CvCover/cvcover.jpg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Dakkem/Dakkem.png);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Destra/Destra.jpg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Forward/Forward.jpg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Gucci/gucci.jpg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Guinot/Guinot.jpg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Birba/birba.svg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Crocs/crocs.jpg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/CvCover/cvcover.jpg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Dakkem/Dakkem.png);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Destra/Destra.jpg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Forward/Forward.jpg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Gucci/gucci.jpg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Guinot/Guinot.jpg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Birba/birba.svg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Crocs/crocs.jpg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/CvCover/cvcover.jpg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Dakkem/Dakkem.png);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Destra/Destra.jpg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Forward/Forward.jpg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Gucci/gucci.jpg);')
        .aBrands__itemOuter
          a.aBrands__item(href="#" style='background-image: url(assets/img/vendor/Guinot/Guinot.jpg);')


      

