mixin pagiantion
  .pag__area
    .pag__outer
      .pag
        a.pag__item(href="#") В начало
        a.pag__item(href="#") Назад
        a.pag__item(href="#") ...
        a.pag__item(href="#") 5
        a.pag__item(href="#") 6
        a.pag__item(href="#") 7
        a.pag__item.active(href="#") 8
        a.pag__item(href="#") 9
        a.pag__item(href="#") 10
        a.pag__item(href="#") 11
        a.pag__item(href="#") ...
        a.pag__item(href="#") Вперед
        a.pag__item(href="#") В конец

