mixin tovarSlider5
  .tovarSlider5__area.tovarSlider5_slickSlider
    .tovarSlider5
      .tovarSlider5__img
        .tovarSlider5__imgItem
          a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', data-fancybox='group1', data-caption='001')
            img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', alt='', title='')
        .tovarSlider5__imgItem
          a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', data-fancybox='group1', data-caption='002')
            img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
        .tovarSlider5__imgItem
          a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG', data-fancybox='group1', data-caption='003')
            img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG', alt='', title='')
        .tovarSlider5__imgItem
          a(href='assets/img/tovar4/Destra-Krossovki-6661-22-7141-1.JPG', data-fancybox='group1', data-caption='004')
            img(src='assets/img/tovar4/Destra-Krossovki-6661-22-7141-1.JPG', alt='', title='')
        .tovarSlider5__imgItem
          a(href='assets/img/tovar4/Destra-Krossovki-6661-22-7141-2.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar4/Destra-Krossovki-6661-22-7141-2.JPG', alt='', title='')
        .tovarSlider5__imgItem
          a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG', data-fancybox='group1', data-caption='005')
            img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG', alt='', title='')
        .tovarSlider5__imgItem
          a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', data-fancybox='group1', data-caption='006')
            img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
        .tovarSlider5__pagination
      .tovarSlider5__min
        .tovarSlider5__minItem
          img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', alt='', title='')
        .tovarSlider5__minItem
          img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')
        .tovarSlider5__minItem
          img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG', alt='', title='')
        .tovarSlider5__minItem
          img(src='assets/img/tovar4/Destra-Krossovki-6661-22-7141-1.JPG', alt='', title='')
        .tovarSlider5__minItem
          img(src='assets/img/tovar4/Destra-Krossovki-6661-22-7141-2.JPG', alt='', title='')
        .tovarSlider5__minItem
          img(src='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG', alt='', title='')
        .tovarSlider5__minItem
          img(src='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', alt='', title='')

mixin tovarSlider7
  .tovarSlider7__area.tovarSlider7_swiperSlider
    .tovarSlider7
      .tovarSlider7__min.swiper-container
        .swiper-wrapper
          .tovarSlider7__minItem.swiper-slide(style="background-image: url(assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG)")
          .tovarSlider7__minItem.swiper-slide(style="background-image: url(assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG)")
          .tovarSlider7__minItem.swiper-slide(style="background-image: url(assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG)")
          .tovarSlider7__minItem.swiper-slide(style="background-image: url(assets/img/tovar4/Destra-Krossovki-6661-22-7141-1.JPG)")
          .tovarSlider7__minItem.swiper-slide(style="background-image: url(assets/img/tovar4/Destra-Krossovki-6661-22-7141-2.JPG)")
          .tovarSlider7__minItem.swiper-slide(style="background-image: url(assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG)")
          .tovarSlider7__minItem.swiper-slide(style="background-image: url(assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG)")
          .tovarSlider7__minItem.swiper-slide(style="background-image: url(assets/img/tovar4/Destra-Krossovki-6661-22-7141-2.JPG)")
          .tovarSlider7__minItem.swiper-slide(style="background-image: url(assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG)")
          .tovarSlider7__minItem.swiper-slide(style="background-image: url(assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG)")
      .tovarSlider7__img.swiper-container
        .swiper-wrapper
          .tovarSlider7__imgItem.swiper-slide
            a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG', data-fancybox='group1', data-caption='001', style="background-image: url(assets/img/tovar3/Bluza-5100/Bluza-5100-1.JPG)")
          .tovarSlider7__imgItem.swiper-slide
            a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', data-fancybox='group1', data-caption='002', style="background-image: url(assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG)")
          .tovarSlider7__imgItem.swiper-slide
            a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG', data-fancybox='group1', data-caption='003', style="background-image: url(assets/img/tovar3/Bluza-5100/Bluza-5100-3.JPG)")
          .tovarSlider7__imgItem.swiper-slide
            a(href='assets/img/tovar4/Destra-Krossovki-6661-22-7141-1.JPG', data-fancybox='group1', data-caption='004', style="background-image: url(assets/img/tovar4/Destra-Krossovki-6661-22-7141-1.JPG)")
          .tovarSlider7__imgItem.swiper-slide
            a(href='assets/img/tovar4/Destra-Krossovki-6661-22-7141-2.JPG', data-fancybox='group1', data-caption='005', style="background-image: url(assets/img/tovar4/Destra-Krossovki-6661-22-7141-2.JPG)")
          .tovarSlider7__imgItem.swiper-slide
            a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG', data-fancybox='group1', data-caption='005', style="background-image: url(assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG)")
          .tovarSlider7__imgItem.swiper-slide
            a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', data-fancybox='group1', data-caption='006', style="background-image: url(assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG)")
          .tovarSlider7__imgItem.swiper-slide
            a(href='assets/img/tovar4/Destra-Krossovki-6661-22-7141-2.JPG', data-fancybox='group1', data-caption='005', style="background-image: url(assets/img/tovar4/Destra-Krossovki-6661-22-7141-2.JPG)")
          .tovarSlider7__imgItem.swiper-slide
            a(href='assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG', data-fancybox='group1', data-caption='005', style="background-image: url(assets/img/tovar5/SalvatoreFerragamo-Ochki-178S-067-1.JPG)")
          .tovarSlider7__imgItem.swiper-slide
            a(href='assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG', data-fancybox='group1', data-caption='006', style="background-image: url(assets/img/tovar3/Bluza-5100/Bluza-5100-2.JPG)")
        .tovarSlider7__pagination
        .tovarSlider7__Prev
          i.icon-arr-left1
        .tovarSlider7__Next
          i.icon-arr-right1
        
      

