- var pageTitle = 'Главная страница'

include __const
include __header
include __arendator1

include __footer




<!DOCTYPE html>
html(lang="ru-RU")
  +head
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css', integrity='sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I', crossorigin='anonymous')

body

  .site__header
    +arHeader

  .site__center

 
  .site__footer
    


  

  +scripts


  