- var pageTitle = 'Страница бренда'

include __const
include __index2
include __brandsPage2
include __header
include __footer
include __m2_catalog
include __brand
include __adaptiveMenuArs






<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  +siteHeader2

  .site__center.site__center_fdc
    .brands2promo__area.p1280
      .brands2promo__outer
        .brands2promo
          .brands2promo__left
            +brands2slider
          .brands2promo__right

  +siteFooter2

  +scripts







  