- var pageTitle = 'Главная страница'

include __const
include __header

include __footer

include __m2_catalog
include __brand
include __adaptiveMenuArs



mixin best2
    .best2
      .best2__itemOuter
        a.best2__item(href="#")
          .best2__itemImg
            img(src="assets/img/ss1/t7.jpg", alt="")
          .best2__itemInfo
            .best2__itemTitle Rinachimento
            .best2__itemDesc Брюки
          .best2__itemPriceArea
            //- .best2__itemOldPrice 6800
            .best2__itemPrice 8300 ₽
      .best2__itemOuter
        a.best2__item(href="#")
          .best2__itemImg
            img(src="assets/img/ss1/t8.jpg", alt="")
          .best2__itemInfo
            .best2__itemTitle Rinachimento
            .best2__itemDesc Пиджак  
          .best2__itemPriceArea
            //- .best2__itemOldPrice 6800
            .best2__itemPrice 12400 ₽
      .best2__itemOuter
        a.best2__item(href="#")
          .best2__itemImg
            img(src="assets/img/ss1/t9.jpg", alt="")
          .best2__itemInfo
            .best2__itemTitle Rinachimento Rinachimento
            .best2__itemDesc Брюки 
          .best2__itemPriceArea
            .best2__itemOldPrice 6800
            .best2__itemPrice 3900 ₽
      .best2__itemOuter
        a.best2__item(href="#")
          .best2__itemImg
            img(src="assets/img/ss1/t10.jpg", alt="")
          .best2__itemInfo
            .best2__itemTitle Rinachimento
            .best2__itemDesc Жилет 
          .best2__itemPriceArea
            //- .best2__itemOldPrice 6800
            .best2__itemPrice 10500 ₽
      .best2__itemOuter
        a.best2__item(href="#")
          .best2__itemImg
            img(src="assets/img/ss1/t11.jpg", alt="")
          .best2__itemInfo
            .best2__itemTitle Rinachimento Rinachimento
            .best2__itemDesc Платье Платье Платье Платье Платье Платье Платье Платье Платье  
          .best2__itemPriceArea
            //- .best2__itemOldPrice 6800
            .best2__itemPrice 11900 ₽
      .best2__itemOuter
        a.best2__item(href="#")
          .best2__itemImg
            img(src="assets/img/ss1/t12.jpg", alt="")
          .best2__itemInfo
            .best2__itemTitle Rinachimento
            .best2__itemDesc Пиджак 
          .best2__itemPriceArea
            //- .best2__itemOldPrice 6800
            .best2__itemPrice 12400 ₽

mixin best2-1
  .best2__itemOuter
    a.best2__item(href="#")
      .best2__itemImg
        img(src="assets/img/ss1/best2cover.png", alt="")
        .best2__itemImgInner
          img(src="assets/img/ss1/t7.jpg", alt="")
      .best2__itemInfo
        .best2__itemTitle Rinachimento
        .best2__itemDesc Брюки
      .best2__itemPriceArea
        //- .best2__itemOldPrice 6800
        .best2__itemPrice 8300 ₽

mixin best2-2
  .best2__itemOuter
    a.best2__item(href="#")
      .best2__itemImg
        img(src="assets/img/ss1/best2cover.png", alt="")
        .best2__itemImgInner
          img(src="assets/img/ss1/t8.jpg", alt="")
      .best2__itemInfo
        .best2__itemTitle Rinachimento
        .best2__itemDesc Пиджак  
      .best2__itemPriceArea
        //- .best2__itemOldPrice 6800
        .best2__itemPrice 12400 ₽

mixin best2-3
  .best2__itemOuter
    a.best2__item(href="#")
      .best2__itemImg
        img(src="assets/img/ss1/best2cover.png", alt="")
        .best2__itemImgInner
          img(src="assets/img/ss1/t9.jpg", alt="")
      .best2__itemInfo
        .best2__itemTitle Rinachimento
        .best2__itemDesc Брюки 
      .best2__itemPriceArea
        .best2__itemOldPrice 6800
        .best2__itemPrice 3900 ₽

mixin best2-4
  .best2__itemOuter
    a.best2__item(href="#")
      .best2__itemImg
        img(src="assets/img/ss1/best2cover.png", alt="")
        .best2__itemImgInner
          img(src="assets/img/ss1/t10.jpg", alt="")
      .best2__itemInfo
        .best2__itemTitle Rinachimento
        .best2__itemDesc Жилет 
      .best2__itemPriceArea
        //- .best2__itemOldPrice 6800
        .best2__itemPrice 10500 ₽

mixin best2-5
  .best2__itemOuter
    a.best2__item(href="#")
      .best2__itemImg
        img(src="assets/img/ss1/best2cover.png", alt="")
        .best2__itemImgInner
          img(src="assets/img/ss1/t11.jpg", alt="")
      .best2__itemInfo
        .best2__itemTitle Rinachimento
        .best2__itemDesc Платье 
      .best2__itemPriceArea
        //- .best2__itemOldPrice 6800
        .best2__itemPrice 11900 ₽

mixin best2-6
  .best2__itemOuter
    a.best2__item(href="#")
      .best2__itemImg
        img(src="assets/img/ss1/best2cover.png", alt="")
        .best2__itemImgInner
          img(src="assets/img/ss1/t12.jpg", alt="")
      .best2__itemInfo
        .best2__itemTitle Rinachimento
        .best2__itemDesc Пиджак 
      .best2__itemPriceArea
        //- .best2__itemOldPrice 6800
        .best2__itemPrice 12400 ₽


mixin best3
  .best3
    .best3__itemOuter
      a.best3__item(href="#")
        .best3__itemImg
          img(src="assets/img/best3/001.jpg", alt="")
          .best3__itemSticker
            .best3__itemSticker_discount -20%
            .best3__itemSticker_redLabel Premium
        .best3__itemTitleArea
          .best3__itemTitleBrand Clemento /
          .best3__itemTitle Кроссовки
        .best3__itemPriceArea
          .best3__itemOldPrice 6480
          .best3__itemPrice 5184 ₽
    .best3__itemOuter
      a.best3__item(href="#")
        .best3__itemImg
          img(src="assets/img/best3/002.jpg", alt="")
          .best3__itemSticker
            .best3__itemSticker_discount -20%
        .best3__itemTitleArea
          .best3__itemTitleBrand Clemento /
          .best3__itemTitle Платье
        .best3__itemPriceArea
          .best3__itemOldPrice 6480
          .best3__itemPrice 5184 ₽
    .best3__itemOuter
      a.best3__item(href="#")
        .best3__itemImg
          img(src="assets/img/best3/001.jpg", alt="")
          .best3__itemSticker
            .best3__itemSticker_discount -20%
            .best3__itemSticker_redLabel Premium
        .best3__itemTitleArea
          .best3__itemTitleBrand Clemento /
          .best3__itemTitle Кроссовки
        .best3__itemPriceArea
          .best3__itemOldPrice 6480
          .best3__itemPrice 5184 ₽
    .best3__itemOuter
      a.best3__item(href="#")
        .best3__itemImg
          img(src="assets/img/best3/002.jpg", alt="")
          .best3__itemSticker
            .best3__itemSticker_redLabel Premium
        .best3__itemTitleArea
          .best3__itemTitleBrand Clemento /
          .best3__itemTitle Платье
        .best3__itemPriceArea
          .best3__itemOldPrice 6480
          .best3__itemPrice 5184 ₽




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    .topLine2__area.p1280
      .topLine2__outer
        .topLine2
          .topLine2__item
            i.icon-marker1
            span г. Саратов, ул. Московская, 113-117
          .topLine2__item
            i.icon-phone
            a(href="tel:+78452759933") +7 (8452) 75 99 33
    +orangeHeader
    .header2__area.p1280
      .header2__searchArea
        .header2__searchOuter
          .header2__search
            .logo2
              a(href="#")
                img(src="assets/img/logo8801000mir.svg", alt="")
            form.header2_searchForm(action="")
              input(type="text" placeholder="Платье, костюм или крем?")
              button(type="submit") 
                i.icon-search2
              .searchPreResults__area
                ul.searchPreResults.xScroll
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/best3/001.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title <b>Кросс</b>овки
                        span.searchPreResults__brand Clemento
                      span.searchPreResults__price 5184 ₽
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/best3/002.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title Платье
                        span.searchPreResults__brand Rinachimento
                      span.searchPreResults__price 5184 ₽
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/ss1/t9.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title Брюки
                        span.searchPreResults__brand Rinachimento
                      span.searchPreResults__price 5184 ₽
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/best3/002.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title Платье
                        span.searchPreResults__brand Rinachimento
                      span.searchPreResults__price 5184 ₽
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/ss1/t9.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title Брюки
                        span.searchPreResults__brand Rinachimento
                      span.searchPreResults__price 5184 ₽
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/best3/002.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title Платье
                        span.searchPreResults__brand Rinachimento
                      span.searchPreResults__price 5184 ₽
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/ss1/t9.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title Брюки
                        span.searchPreResults__brand Rinachimento
                      span.searchPreResults__price 5184 ₽
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/ss1/t9.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title Брюки
                        span.searchPreResults__brand Rinachimento
                      span.searchPreResults__price 5184 ₽
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/best3/002.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title Платье
                        span.searchPreResults__brand Rinachimento
                      span.searchPreResults__price 5184 ₽
                  li
                    a(href="")
                      span.searchPreResults__img
                        img(src="assets/img/ss1/t9.jpg", alt="")
                      span.searchPreResults__info
                        span.searchPreResults__title Брюки
                        span.searchPreResults__brand Rinachimento
                      span.searchPreResults__price 5184 ₽
                a.searchPreResults__allBtn(href="") Показать все результаты


            .header2_searchClose(title="Скрыть поиск")
              i.icon-close1
      .header2__outer
        header.header2
          nav.menu20__area
            ul.menu20
              li.active
                a(href="#") Женщинам
              li
                a(href="#") Мужчинам
              li
                a(href="#") Детям
              li
                a(href="#") Красота
              li
                a.openBrands_dt(href="#") Бренды
          .logo2
            a(href="#")
              img(src="assets/img/logo8801000mir.svg", alt="")
          .header2__buttons
            .login2__area
              .login2__item
                a(href="#") Войти
              .login2__item
                a(href="#") Регистрация
            .buttons2__area
              .buttons2__item.header2__search_jsEvent
                i.icon-search2
              .buttons2__item
                i.icon-like2
              .buttons2__item
                .miniCart2__area
                  i.icon-bag
                  .miniCart2__counter 25
        .menu21__area
          .menu21__Outer
            ul.menu21
              li.active
                a(href="#") Одежда
              li
                a(href="#") Обувь
              li
                a(href="#") Аксессуары
  .site__center.site__center_fdc
    .dubleSliders__area.p1280
      .dubleSliders__outer
        .dubleSliders
          .dubleSliders__small
            .firstPromo__outer
              a.firstPromo(href="#" style="background-image: url(assets/img/ss1/ss01.jpg)")

                span 
                  p Только сегодня!
                  p Скидка на обувь
                  p 20%
                //- img.ss1_cover(src="assets/img/ss1cover.png", alt="")
              
              
              //- span.ss1_info Маникюр премиум класса
            //- .swiper-container.s1-container
            //-   .swiper-wrapper.s1-wrapper
            //-     a.swiper-slide.ss1(href="#" style="background-image: url(assets/img/ss1/ss01.jpg)")
            //-       img.ss1_cover(src="assets/img/ss1cover.png", alt="")
            //-       span.ss1_info Маникюр премиум класса
            //-     a.swiper-slide.ss1(href="#" style="background-image: url(assets/img/ss1/ss01.jpg)")
            //-       img.ss1_cover(src="assets/img/ss1cover.png", alt="")
            //-       span.ss1_info Маникюр премиум класса
            //-     a.swiper-slide.ss1(href="#" style="background-image: url(assets/img/ss1/ss01.jpg)")
            //-       img.ss1_cover(src="assets/img/ss1cover.png", alt="")
            //-       span.ss1_info Маникюр премиум класса
            //-     a.swiper-slide.ss1(href="#" style="background-image: url(assets/img/ss1/ss01.jpg)")
            //-       img.ss1_cover(src="assets/img/ss1cover.png", alt="")
            //-       span.ss1_info Маникюр премиум класса
            //-     a.swiper-slide.ss1(href="#" style="background-image: url(assets/img/ss1/ss01.jpg)")
            //-       img.ss1_cover(src="assets/img/ss1cover.png", alt="")
            //-       span.ss1_info Маникюр премиум класса
            //-   .ss1__pag
            //-     .ss1__buttons
            //-       .ss1__left
            //-         i.icon-leftss2
            //-       .ss1__right
            //-         i.icon-rightss2
            //-     .s1-pagination
          .dubleSliders__big
            .swiper-container.s2-container
              .swiper-wrapper.s2-wrapper
                a.swiper-slide.ss2(href="#")
                  img.ss2_cover(src="assets/img/ss1/ss02.png", alt="")
                  span.ss2_info Мужская классика
                a.swiper-slide.ss2(href="#")
                  img.ss2_cover(src="assets/img/ss1/ss02.png", alt="")
                  span.ss2_info Профессиональный уход за кожей
                //- a.swiper-slide.ss2(href="#" style="background-image: url(assets/img/ss1/ss02.png)")
                //-   img.ss1_cover(src="assets/img/ss1cover.png", alt="")
                //-   span.ss2_info Мужская классика
                //- a.swiper-slide.ss2(href="#" style="background-image: url(assets/img/ss1/babor.jpg)")
                //-   img.ss1_cover(src="assets/img/ss1cover.png", alt="")
                //-   span.ss2_info Профессиональный уход за кожей
              //- .ss2__pag
              //-   .ss2__buttons
              .ss2__left
                i.icon-arr-left1
              .ss2__right
                i.icon-arr-right1
                //- .s2-pagination
    .best2slider__area.p1280
      .best2slider__outer
        .best2__title
          //- img(src="assets/img/index2/best2titlebg2.jpg", alt="")
          span Лучшая цена на товар
          span Выбор наших стилистов
        .best2slider
          .swiper-container.best2-container
            .swiper-wrapper.best2-wrapper
              .swiper-slide.best2-slide
                +best2-1
              .swiper-slide.best2-slide
                +best2-2
              .swiper-slide.best2-slide
                +best2-3
              .swiper-slide.best2-slide
                +best2-4
              .swiper-slide.best2-slide
                +best2-5
              .swiper-slide.best2-slide
                +best2-6

          .best2__left
            i.icon-arr-left1
          .best2__right
            i.icon-arr-right1

    //- .linkBox2__area
    //-   .linkBox2__outer
    //-     .linkBox2.clearfix
    //-       .linkBox2__group
    //-         .linkBox2__itemOuter
    //-           a.linkBox2__item(href="#" style="background-image: url(assets/img/lb2/001.jpg)")
    //-             img.linkBox2__cover.linkBox2__cover_long(src="assets/img/square413.png", alt="")
    //-             span Красота
    //-       .linkBox2__group
    //-         .linkBox2__itemOuter
    //-           a.linkBox2__item(href="#" style="background-image: url(assets/img/lb2/002.jpg)")
    //-             img.linkBox2__cover.linkBox2__cover_big(src="assets/img/square413.png", alt="")
    //-             span Женщинам
    //-       .linkBox2__group.linkBox2__group_col
    //-         .linkBox2__itemOuter
    //-           a.linkBox2__item(href="#" style="background-image: url(assets/img/lb2/003.jpg)")
    //-             img.linkBox2__cover.linkBox2__cover_small(src="assets/img/square413.png", alt="")
    //-             span Детям
    //-         .linkBox2__itemOuter
    //-           a.linkBox2__item(href="#" style="background-image: url(assets/img/lb2/004.jpg)")
    //-             img.linkBox2__cover.linkBox2__cover_small(src="assets/img/square413.png", alt="")
    //-             span Мужчинам

    
    .linkBox3__area
      .linkBox3__outer
        .linkBox3.clearfix
          .linkBox3__itemWrapper.linkBox3__itemWrapper_1
            .linkBox3__itemOuter.linkBox3__itemOuter_1
              a.linkBox3__item.linkBox3__item_1(href="#" style="background-image: url(assets/img/lb2/001.jpg)")
                span Красота
          .linkBox3__itemWrapper.linkBox3__itemWrapper_2
            .linkBox3__itemOuter.linkBox3__itemOuter_2
              a.linkBox3__item.linkBox3__item_2(href="#" style="background-image: url(assets/img/lb2/002.jpg)")
                span Женщинам
          .linkBox3__itemWrapper.linkBox3__itemWrapper_3
            .linkBox3__itemOuter.linkBox3__itemOuter_3
              a.linkBox3__item.linkBox3__item_3(href="#" style="background-image: url(assets/img/lb2/003.jpg)")
                span Детям
          .linkBox3__itemWrapper.linkBox3__itemWrapper_4
            .linkBox3__itemOuter.linkBox3__itemOuter_4
              a.linkBox3__item.linkBox3__item_4(href="#" style="background-image: url(assets/img/lb2/004.jpg)")
                span Мужчинам



    
    
    //- .linkBox2__area
    //-   .linkBox2__outer
    //-     .linkBox2.clearfix
    //-       .linkBox2__group
    //-         .linkBox2__itemOuter
    //-           a.linkBox2__item(href="#")
    //-             img.linkBox2__cover.linkBox2__cover_long(src="assets/img/lb2/001.jpg", alt="")
    //-             span Красота
    //-       .linkBox2__group
    //-         .linkBox2__itemOuter
    //-           a.linkBox2__item(href="#")
    //-             img.linkBox2__cover.linkBox2__cover_big(src="assets/img/lb2/002.jpg", alt="")
    //-             span Женщинам
    //-       .linkBox2__group.linkBox2__group_col
    //-         .linkBox2__itemOuter
    //-           a.linkBox2__item(href="#")
    //-             img.linkBox2__cover.linkBox2__cover_small(src="assets/img/lb2/003.jpg", alt="")
    //-             span Детям
    //-         .linkBox2__itemOuter
    //-           a.linkBox2__item(href="#")
    //-             img.linkBox2__cover.linkBox2__cover_small(src="assets/img/lb2/004.jpg", alt="")
    //-             span Мужчинам

    //- .best3_area
    //-   .best3__outer
    //-     .best3__title
    //-       img(src="assets/img/best3/title.jpg", alt="Лучшие предложения осени!")
    //-     .best3slider
    //-       .swiper-container.best3-container
    //-         .swiper-wrapper.best3-wrapper
    //-           .swiper-slide.best3-slide
    //-             +best3
    //-           .swiper-slide.best3-slide
    //-             +best3
    //-           .swiper-slide.best3-slide
    //-             +best3
    //-       .best3__left
    //-         i.icon-arr-left1
    //-       .best3__right
    //-         i.icon-arr-right1



    .collage__area
      .collage__outer
        .collage__wrapper.clearfix
          .collage.collage__1
            .collage__itemOuter.collage__itemOuter_1_1
              a.collage__item.collage__item_1_1(href="assets/img/collage/001.jpg" style="background-image: url(assets/img/collage/001.jpg)" data-fancybox='group', data-caption='001')
            .collage__itemOuter.collage__itemOuter_1_2
              a.collage__item.collage__item_1_2(href="assets/img/collage/002.jpg" style="background-image: url(assets/img/collage/002.jpg)" data-fancybox='group', data-caption='002')
          .collage.collage__2
            .collage__itemOuter.collage__itemOuter_2_1
              a.collage__item.collage__item_2_1(href="assets/img/collage/003.jpg" style="background-image: url(assets/img/collage/003.jpg)" data-fancybox='group', data-caption='003')
            .collage__itemOuter.collage__itemOuter_2_2
              a.collage__item.collage__item_2_2(href="assets/img/collage/004.jpg" style="background-image: url(assets/img/collage/004.jpg)" data-fancybox='group', data-caption='004')
            .collage__itemOuter.collage__itemOuter_2_3
              a.collage__item.collage__item_2_3(href="assets/img/collage/005.jpg" style="background-image: url(assets/img/collage/005.jpg)" data-fancybox='group', data-caption='005')
          .collage.collage__3
            .collage__itemOuter.collage__itemOuter_3_1
              a.collage__item.collage__item_3_1(href="assets/img/collage/006.jpg" style="background-image: url(assets/img/collage/006.jpg)" data-fancybox='group', data-caption='006')
          .collage.collage__4
            .collage__itemOuter.collage__itemOuter_4_1
              a.collage__item.collage__item_4_1(href="assets/img/collage/007.jpg" style="background-image: url(assets/img/collage/007.jpg)" data-fancybox='group', data-caption='007')
            .collage__itemOuter.collage__itemOuter_4_2
              a.collage__item.collage__item_4_2(href="assets/img/collage/008.jpg" style="background-image: url(assets/img/collage/008.jpg)" data-fancybox='group', data-caption='008')

    .about3__area
      .about3__outer.p1280
        .about3
          h2 О компании
          .content
            p Торговый комплекс МИР более 10 лет радует жителей Саратова качественным европейским шопингом.
            p <strong>tcmir.ru — это онлайн копия Торгового комплекса МИР</strong>
            p Теперь товары торгового комплекса можно купить в официальном интернет-магазине и заказать курьерскую доставку (доставляем компанией СДЭК) или оформить самовывоз (Пункт выдачи находится на 1 этаже Торгового комплекса МИР).
            p <strong>tcmir.ru — это торговый комплекс МИР онлайн</strong>
          a.about3__redmore(href="#") Подробнее
    
    
    //- .about2__area.p1280
    //-   .about2__outer
    //-     .about2
    //-       .about2__left
    //-         .about2__img
    //-           img(src="assets/img/index2/about2-1.jpg", alt="")
    //-       .about2__right
    //-         .about2__content
    //-           h2 О компании
    //-           .content
    //-             p Торговый комплекс МИР более 10 лет радует жителей Саратова качественным европейским шопингом.
    //-             p <strong>tcmir.ru — это онлайн копия Торгового комплекса МИР</strong>
    //-             p Теперь товары торгового комплекса можно купить в официальном интернет-магазине и заказать курьерскую доставку (доставляем компанией СДЭК) или оформить самовывоз (Пункт выдачи находится на 1 этаже Торгового комплекса МИР).
    //-             p <strong>tcmir.ru — это торговый комплекс МИР онлайн</strong>
    //-           a.about2__redmore(href="#") Подробнее



    .bottomWide__area
      .bottomWide__outer
        .bottomWide
          .bottomWide-container.swiper-container
            .bottomWide-wrapper.swiper-wrapper
              .bottomWide__item.swiper-slide
                a(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (комбинезон).mp4')
                  img(src='assets/img/index2/poster1.jpg', alt='')
                  span Rinascimento (комбинезон)
              .bottomWide__item.swiper-slide
                a(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (красное платье).mp4')
                  img(src='assets/img/index2/poster2.jpg', alt='')
                  span Rinascimento (красное платье)
              .bottomWide__item.swiper-slide
                a(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (образы, Катя, студия).mp4', data-caption='<a href="https://tcmir.ru">Ссылка на нужную страницу</a>')
                  img(src='assets/img/index2/poster3.jpg', alt='')
                  span Rinascimento (Образы, Катя, студия)
              .bottomWide__item.swiper-slide
                a(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Дикенс (платье, кепка, сумка, Дикенс).mp4')
                  img(src='assets/img/index2/poster4.jpg', alt='')
                  span Дикенс (платье, кепка, сумка)
              .bottomWide__item.swiper-slide
                a(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Rinascimento (образы, Катя, студия).mp4')
                  img(src='assets/img/index2/poster3.jpg', alt='')
                  span Rinascimento (Образы, Катя, студия)
              .bottomWide__item.swiper-slide
                a(data-fancybox='', href='file:///S:/Shared with me/promo/video roman/Rinasciemento/done/Дикенс (платье, кепка, сумка, Дикенс).mp4')
                  img(src='assets/img/index2/poster4.jpg', alt='')
                  span Дикенс (платье, кепка, сумка)
          .bottomWide__left
            i.icon-arr-left1
          .bottomWide__right
            i.icon-arr-right1

 
  .site__footer
    .footer2__area
      .footer2__outer.p1280
        footer.footer2
          .footer2__left
            a.footer2__logo(href="#")
              img(src="assets/img/logo8801000mir.svg", alt="")
            .footer2__item
              span Адрес
              p г. Саратов, ул. Московская, 113-117
            .footer2__item
              span Телефон
              a(href="tel:+78452759933") +7 (8452) 75-99-33
            .footer2__item
              p Информация на сайте не является<br> публичной офертой
          .footer2__right
            nav.footer2__menuArea
              ul.footer2__menu
                li
                  a(href="#") О компании
                li
                  a(href="#") Информация
                li.active
                  a(href="#") Оформление заказа
                li
                  a(href="#") Оплата и получение
                li
                  a(href="#") Возврат
            .footer2__paySystems
              .footer2__paySystemsItem
                img(src="assets/img/index2/mastercard.svg", alt="")
              .footer2__paySystemsItem
                img(src="assets/img/index2/mir.svg", alt="")
              .footer2__paySystemsItem
                img(src="assets/img/index2/visa.svg", alt="")

            .footer2__links
              a.footer2__link(href="#" target="_blank") Пользовательское Соглашение
              a.footer2__link(href="#" target="_blank") Политика Конфиденциальности
    +m2_bottomMenu
    //- +aBrands
    +aBrandsTabs
    +adaptiveMenuArs
    //- +footer  

  +scripts







  