- var pageTitle = 'Страница магазина Каспер'

include assets/chunks/header/__header
include assets/chunks/shop/__shop
include assets/chunks/content/__textInContent
include assets/chunks/footer/__footer
include assets/chunks/scripts/__scripts

<!DOCTYPE html>
html(lang="ru-RU")
	include assets/chunks/head/__head
body

	.site__header
		+header

	.site__center
		.title1.w1
			h1= pageTitle
		//- include __breadcrumbs
		+shop
		+textInContent


	.site__footer
		+footer

	+scripts