@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
  .callAction__area {
    flex-direction: column;
  }
  .callAction__title {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 920px) {
  .callActionBtn {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
}
